@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
.QuieroConsultar .formularioContacto div button {
  background-color: white;
  border-style: none;
  color: #07f49e;
  padding: 5px;
  font-size: xx-small;
  font-weight: 500;
  box-shadow: 0px 0px 2px 2px #ffea00;
  -webkit-box-shadow: 0px 0px 2px 2px #ffea00;
  -moz-box-shadow: 0px 0px 2px 2px #ffea00; }

/*!------------------------------nav bootrap -----------------------------*/
.logoNav {
  height: 60px;
  width: 100%; }

header nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-size: 10px;
  padding: 0px;
  height: 100%; }

/*!------------------------------Carousel bootrap -----------------------------*/
.carouselBootrap h6 {
  background-color: black;
  color: white; }

.carouselBootrap h6 a {
  color: yellowgreen;
  text-decoration: none; }

/*!------------------------------RESET----------------------------- cambio en hig des*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.heroStyles {
  background-color: black; }
  .heroStyles .heroStylesContenedor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 0px;
    position: relative;
    border-top: rgba(220, 220, 220, 0.186) solid 1px; }
    .heroStyles .heroStylesContenedor div {
      width: 280px; }
      .heroStyles .heroStylesContenedor div img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .heroStyles .heroStylesContenedor div div {
        display: flex;
        justify-content: space-between;
        background-color: #000000f0;
        align-content: center; }
        .heroStyles .heroStylesContenedor div div h6 {
          color: azure;
          font-size: 10px;
          padding: 5px; }
        .heroStyles .heroStylesContenedor div div a {
          color: yellowgreen;
          font-size: 10px;
          padding: 5px;
          text-decoration: none; }
    .heroStyles .heroStylesContenedor .textoPrincipal {
      position: absolute;
      background-color: yellow;
      color: gray;
      text-decoration: none;
      border-radius: 5px;
      padding: 2px; }

.novedades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 20px; }
  .novedades .tarjetaProducto {
    width: 175px;
    height: 100%;
    position: relative;
    border: #0c0f0a solid 1px;
    border-radius: 10px;
    box-shadow: 3px -3px 3px gainsboro;
    border: gainsboro solid 1px;
    margin-left: 10px;
    margin-bottom: 10px; }
    .novedades .tarjetaProducto div .espacioImagen {
      display: flex;
      height: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      position: relative;
      border-radius: 10px; }
      .novedades .tarjetaProducto div .espacioImagen .pinProducto {
        height: 15%;
        width: 17%;
        position: absolute;
        align-self: self-start; }
      .novedades .tarjetaProducto div .espacioImagen .fotoprincipal {
        height: 100%;
        width: 100%;
        border-radius: 10px; }
      .novedades .tarjetaProducto div .espacioImagen .descripcionProducto {
        position: absolute;
        color: whitesmoke;
        background-color: #0c0f0a9e;
        font-size: xx-small;
        width: 100%;
        height: 20%;
        padding: 5px;
        align-self: self-end;
        text-align: center; }
    .novedades .tarjetaProducto div .iconoscondiciones {
      display: flex;
      justify-content: space-around;
      border: gainsboro solid 1px;
      background-color: #0c0f0a14; }
      .novedades .tarjetaProducto div .iconoscondiciones .pinCondicionesVenta {
        height: 4%;
        width: 15%; }
    .novedades .tarjetaProducto .precios {
      display: flex;
      justify-content: space-around;
      margin-bottom: 15px;
      margin-top: 15px; }
      .novedades .tarjetaProducto .precios .precioAnterior {
        text-decoration: line-through;
        color: #ff595e;
        font-size: x-small; }
      .novedades .tarjetaProducto .precios .precioActual {
        color: #264653;
        font-size: small; }
    .novedades .tarjetaProducto .botonComprar {
      display: flex;
      justify-content: center; }
      .novedades .tarjetaProducto .botonComprar a {
        background-color: rgba(0, 0, 0, 0.723);
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-size: small;
        padding: 5px;
        margin-bottom: 5px; }

.grid-galeria {
  display: grid;
  width: 100%;
  height: 70vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40% 30% 30%;
  gap: 2px;
  margin-bottom: 10px; }
  .grid-galeria .div-tecno {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4; }
    .grid-galeria .div-tecno .tecno {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .grid-galeria .div-tecno .tituloParrafo {
      position: absolute; }
      .grid-galeria .div-tecno .tituloParrafo .tituloTecno {
        font-family: "Press Start 2P";
        text-align: center;
        color: #2ec4b6;
        font-size: medium;
        text-shadow: 2px 1px 0px black; }
      .grid-galeria .div-tecno .tituloParrafo .ParrafosGrid {
        text-align: center;
        color: #f0f4f3;
        font-size: medium; }
  .grid-galeria .div-urbano {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; }
    .grid-galeria .div-urbano .urbano {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 90% 5%; }
    .grid-galeria .div-urbano .tituloParrafo {
      position: absolute; }
      .grid-galeria .div-urbano .tituloParrafo .tituloUrbano {
        font-family: "Covered By Your Grace";
        text-align: center;
        background-color: #26465389;
        border-radius: 10%;
        font-size: 50px;
        color: lightgrey;
        text-shadow: 2px 1px 0px black; }
  .grid-galeria .div-agente {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1; }
    .grid-galeria .div-agente .agente {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 90% 5%; }
  .grid-galeria .div-deCompras {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2; }
    .grid-galeria .div-deCompras .deCompras {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 15%; }
    .grid-galeria .div-deCompras .tituloParrafo {
      position: absolute; }
      .grid-galeria .div-deCompras .tituloParrafo .tituloCompras {
        text-align: center;
        border-radius: 10%;
        font-size: 20px;
        color: rgba(211, 211, 211, 0.692);
        text-shadow: 2px 1px 0px black; }
  .grid-galeria .div-mascota {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1; }
    .grid-galeria .div-mascota .mascota {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 30%; }
  .grid-galeria .div-sala {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3; }
    .grid-galeria .div-sala .sala {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 70%; }

.QuieroConsultar {
  display: flex;
  justify-content: start;
  align-items: end;
  background-image: linear-gradient(to bottom, rgba(9, 9, 9, 0.704), rgba(9, 9, 9, 0.704)), url("../img/jeremias115_trabajador_enpresa_de_envios_postales_entregando_un_cc024cfd-1e52-495d-8e99-758e913d08ed.png");
  background-size: cover;
  background-position: top; }
  .QuieroConsultar .googleMaps {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px; }
    .QuieroConsultar .googleMaps iframe {
      width: 100%;
      height: 50%;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.832);
      box-shadow: 3px -3px 3px rgba(32, 30, 30, 0.778); }
    .QuieroConsultar .googleMaps h6 {
      color: #ffea00;
      font-size: medium;
      font-family: "Press Start 2P";
      text-align: center;
      color: #ffea00; }
  .QuieroConsultar .formularioContacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    border: rgba(220, 220, 220, 0.295) solid 1px;
    border-radius: 5px;
    font-size: small;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.636); }
    .QuieroConsultar .formularioContacto .encabezadoFormulario {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap; }
      .QuieroConsultar .formularioContacto .encabezadoFormulario .tipoClienteConsulta {
        background-color: #0c0f0a;
        border-radius: 5px;
        font-size: xx-small;
        color: lemonchiffon; }
    .QuieroConsultar .formularioContacto .sobreQueConsulta {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      height: 20%;
      font-size: xx-small;
      align-items: center;
      margin: 10px;
      color: white; }
    .QuieroConsultar .formularioContacto .datosPersonales {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      align-items: center;
      text-align: center; }
      .QuieroConsultar .formularioContacto .datosPersonales label {
        margin-left: 5px;
        font-weight: 100;
        font-size: xx-small;
        align-items: center;
        color: white;
        margin-right: 2px;
        text-align: center; }
      .QuieroConsultar .formularioContacto .datosPersonales .inputselda {
        width: 90%;
        height: 4vh;
        border-radius: 5px;
        border: rgba(220, 220, 220, 0.295) solid 1px;
        background-color: rgba(245, 245, 245, 0.452); }
    .QuieroConsultar .formularioContacto .textolibre {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      align-items: center; }
      .QuieroConsultar .formularioContacto .textolibre label {
        margin-left: 5px;
        font-weight: 100;
        font-size: small;
        align-items: center;
        color: white; }
      .QuieroConsultar .formularioContacto .textolibre textarea {
        background-color: rgba(245, 245, 245, 0.214);
        width: 70%;
        height: 100%;
        border-radius: 5px;
        border: gainsboro solid 1px; }
    .QuieroConsultar .formularioContacto div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px; }
      .QuieroConsultar .formularioContacto div button {
        align-self: self-end;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 5px; }

.ComoLoCompro {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .ComoLoCompro .ConsejoPrincipal {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-image: linear-gradient(to bottom, rgba(9, 9, 9, 0.248), rgba(9, 9, 9, 0.275)), url("../img/jeremias115_A_person_staring_at_the_camera_confused_stressed_ab_7890bb22-d56b-4ebc-9bdf-60fd701606fd.png");
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 5px; }
    .ComoLoCompro .ConsejoPrincipal h3 {
      color: aqua;
      text-align: center;
      font-size: medium;
      margin-top: 0px; }
    .ComoLoCompro .ConsejoPrincipal p {
      color: #f7f8f7;
      text-align: center;
      width: 100%; }
  .ComoLoCompro div {
    width: 400px;
    height: 300px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #c2c1be;
    -webkit-box-shadow: 0px 0px 2px 2px #c7c7c3;
    -moz-box-shadow: 0px 0px 2px 2px #cecec8; }
    .ComoLoCompro div h2 {
      color: aqua;
      text-align: center;
      font-size: 50px;
      margin-top: 0px; }
    .ComoLoCompro div h3 {
      color: darkslategray;
      text-align: center;
      font-size: medium;
      margin-top: 0px; }
    .ComoLoCompro div p {
      color: coral;
      text-align: center;
      width: 100%; }

.PreguntasFrencuentes {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr; }
  .PreguntasFrencuentes .imagenPreguntasFrecuente {
    display: flex;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.919);
    position: relative;
    align-items: end; }
    .PreguntasFrencuentes .imagenPreguntasFrecuente img {
      height: 87vh;
      width: 100%;
      object-fit: cover;
      background-color: rgba(0, 0, 0, 0.919);
      border-radius: 5px; }
    .PreguntasFrencuentes .imagenPreguntasFrecuente .descripcionFotopreguntasFrecuentes {
      position: absolute; }
      .PreguntasFrencuentes .imagenPreguntasFrecuente .descripcionFotopreguntasFrecuentes .tituloFotoPreguntasFrencuentes {
        text-align: center;
        color: #fbffff;
        font-size: x-large;
        text-shadow: 2px 1px 0px black; }
      .PreguntasFrencuentes .imagenPreguntasFrecuente .descripcionFotopreguntasFrecuentes .parrafoFotopreguntasFrecuentes {
        text-align: center;
        color: #ffffff;
        font-size: medium;
        text-shadow: 2px 1px 0px black; }
  .PreguntasFrencuentes .AcordionPreguntasFrecuentes {
    padding-left: 5px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.919); }

footer {
  background-color: #0c0f0a;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer .logofoot {
    height: 30px;
    width: 30px;
    padding-top: 2px;
    border-radius: 50%; }
  footer p {
    color: #fbfafa;
    font-size: 13px; }
  footer .contactoicons img {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: aliceblue; }

/*!------------------------------MediaQ Generales-----------------------------!*/
@media screen and (min-width: 1145px) {
  .carouselBootrap {
    display: none; } }

@media screen and (max-width: 1145px) {
  .heroStyles .heroStylesContenedor {
    display: none; } }

/*!------------------------------MediaQ Quienes Somos -----------------------------!*/
@media screen and (max-width: 1000px) {
  .grid-galeria {
    display: grid;
    width: 100%;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 30% 30%;
    gap: 2px; }
    .grid-galeria .div-tecno {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      align-items: center;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 1; }
    .grid-galeria .div-urbano {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 2; }
      .grid-galeria .div-urbano .tituloParrafo .tituloUrbano {
        font-size: xx-large;
        color: lightgrey;
        text-shadow: 2px 1px 0px black; }
    .grid-galeria .div-sala {
      display: none; }
    .grid-galeria .div-deCompras {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 3; }
    .grid-galeria .div-agente {
      display: none; }
    .grid-galeria .div-mascota {
      display: none; } }

/*!------------------------------MediaQ Contacto-----------------------------!*/
@media screen and (max-width: 425px) {
  .QuieroConsultar .formularioContacto {
    display: flex;
    flex-direction: column;
    width: 90%; }
    .QuieroConsultar .formularioContacto .encabezadoFormulario {
      display: flex;
      flex-direction: column; }
    .QuieroConsultar .formularioContacto .sobreQueConsulta {
      display: flex;
      flex-direction: column; }
    .QuieroConsultar .formularioContacto .datosPersonales {
      display: flex;
      flex-direction: column; }
    .QuieroConsultar .formularioContacto .textolibre {
      display: flex;
      flex-direction: column; }
    .QuieroConsultar .formularioContacto div {
      display: flex;
      flex-direction: column; } }

@media screen and (max-width: 800px) {
  .QuieroConsultar {
    flex-direction: column;
    align-items: start; }
    .QuieroConsultar .formularioContacto {
      width: 60%; }
    .QuieroConsultar .googleMaps {
      margin-left: 20px; } }

/*!------------------------------MediaQ PreguntasFrecuentes-----------------------------!*/
@media screen and (max-width: 600px) {
  .PreguntasFrencuentes {
    grid-template-columns: 1fr; }
    .PreguntasFrencuentes .imagenPreguntasFrecuente img {
      height: 50vh; } }
