$colorLogoAmarillo:  #ffea00;
$colorLogoCeleste:  #80ffdb;
$colorLogopurpura:  #e4c1f9;
$colorLogoNaranja:  #ff8800;
$colorLogoGris:  #b1a7a6;

$colorTarjetasDesCripArt:#0c0f0a14;
$colorTarjetasBotonComp: rgba(0, 0, 0, 0.723);
$colorTarjetasPrecioViejo: #bf0603;